In [1]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

/home/martin/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
properties = pd.read_csv('trainClusterPorPrecio800.csv')
testing = pd.read_csv('testTree.csv')

In [3]:
train = properties
train = train.drop('id', 1)
train = train.drop('description', 1)
train = train.drop('Unnamed: 0', 1)
train = train.drop('Unnamed: 0.1', 1)
train = train.drop('created_on', 1)
train = train.drop('price_aprox_usd', 1)
train['lat'] = train['lat']*2000
train['lon'] = train['lon']*2000
train.head()

,property_type_encoded,place_name_encoded,state_name_encoded,lat,lon,surface_covered_in_m2,surface_total_in_m2,floor,rooms,distancia_obelisco,...,profesional,principal,salida,seguridad,subte,suite,terraza,toilette,vista,cluster
0,1,568,26145,-69351.220000,-117450.202000,120.0,335.0,0.0,2.0,0.415983,...,0,0,0,0,0,0,0,1,0,223
1,1,619,26148,-69177.906294,-116859.763555,72.0,312.0,0.0,2.0,0.062351,...,0,0,0,0,0,0,0,0,0,605
2,2,658,26148,-69221.975520,-116726.927156,140.0,0.0,0.0,2.0,0.026102,...,0,1,0,0,0,1,0,0,1,231
3,2,658,26148,-69219.689200,-116732.477400,140.0,0.0,0.0,2.0,0.022184,...,0,1,0,0,0,1,0,0,1,431
4,1,242,26145,-69307.444000,-117313.942000,110.0,0.0,0.0,2.0,0.325965,...,0,0,0,0,0,1,0,1,0,68

In [4]:
test = testing
test = test.drop('description',1)
test = test.drop('Unnamed: 0',1)
test = test.drop('created_on',1)
test['lat'] = test['lat']*2000
test['lon'] = test['lon']*2000
test.head()

,id,property_type_encoded,place_name_encoded,state_name_encoded,lat,lon,surface_covered_in_m2,surface_total_in_m2,floor,rooms,...,planta,profesional,principal,salida,seguridad,subte,suite,terraza,toilette,vista
0,3632,2,658,26148,-69221.975520,-116726.927156,128.5,0.0,0.0,2.0,...,0,0,1,0,0,0,1,0,0,1
1,3633,2,216,26147,-69440.600000,-116538.800000,50.0,0.0,0.0,2.0,...,0,0,1,1,1,0,1,0,0,1
2,2263404,2,618,26148,-69178.726646,-116825.759718,48.0,53.0,0.0,2.0,...,0,0,0,0,1,1,0,0,0,0
3,2263405,2,251,26148,-69174.846000,-116901.032000,39.0,39.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
4,2263406,2,251,26148,-69174.846000,-116901.032000,51.0,51.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
trainX = train.values[:, 0:62]
trainY = train.values[:,62]

In [6]:
testX = test.values[:, 1:63]

In [8]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100, max_depth=None, min_samples_leaf=5)
clf_gini.fit(trainX, trainY)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=5,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=100, splitter='best')

In [9]:
#menos preciso que gini
#clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100, max_depth=None, min_samples_leaf=5)
#clf_entropy.fit(trainX, trainY)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=5,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=100, splitter='best')

In [10]:
predicciones = clf_gini.predict(testX)
predicciones

array([  46.,   56.,  571., ...,   79.,  749.,   68.])

In [13]:
testing['cluster']= predicciones

In [14]:
testing['cluster'].value_counts()

43.0     379
8.0      306
34.0     302
32.0     281
3.0      272
69.0     271
56.0     260
33.0     259
64.0     249
18.0     246
29.0     243
11.0     222
4.0      217
85.0     215
97.0     211
35.0     209
57.0     202
130.0    193
102.0    177
15.0     169
72.0     169
143.0    159
38.0     155
78.0     155
178.0    154
21.0     144
6.0      131
355.0    125
103.0    121
71.0     115
        ...
438.0      2
409.0      2
19.0       2
87.0       2
510.0      2
780.0      2
515.0      2
121.0      2
632.0      2
342.0      2
598.0      2
378.0      2
48.0       2
40.0       1
371.0      1
788.0      1
746.0      1
183.0      1
553.0      1
678.0      1
303.0      1
450.0      1
551.0      1
661.0      1
523.0      1
220.0      1
700.0      1
222.0      1
774.0      1
796.0      1
Name: cluster, Length: 341, dtype: int64

In [15]:
testing.to_csv('testClusterPorPrecio800.csv')